@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

$dark-color: #0a0a0a;
$light-color: #FFFFFF;
$active-red: #F70759;
$active-green: #74ae52;

$main-font: 'Montserrat', sans-serif;


$mobile-screen: 640px;